sudo: false
dist: trusty
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
#             - doxygen
#             - doxygen-doc
#             - doxygen-latex
#             - doxygen-gui
#             - graphviz
      env: COMPILER=g++-6 QT_BASE=55

before_install:
  - git checkout tags/v5.5
  - git clone https://github.com/qt/qt5.git
  - ls qt5
  - cd qt5
  - ./init-repository
  - ./configure -prefix $PWD/qtbase -opensource -nomake tests
  - make -j 4

# after_success:
#   <generate documentation>

script:
  - cmake --version
  - qmake --version
  - ls /home
  - mkdir build
  - cd build
  - cmake .. -G "Unix Makefiles"
  - dir
  - make && ctest
