language: cpp

# Use new trusty images, should yield newer compilers and packages
sudo: false
dist: trusty
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env: COMPILER=g++-6

script:
  - cmake --version
  - mkdir build
  - cd build
  - cmake .. -G "Unix Makefiles"
  - dir
- make && ctest